[run]
branch = True
source =
    datesmt_bitvector
    datesmt_int

[report]
show_missing = True
skip_covered = False
precision = 1
fail_under = 0
exclude_lines =
    pragma: no cover

[html]
directory = documentation/coverage/coverage_html
title = DATE-SMT Coverage Report

[paths]
source =
    datesmt_bitvector
    datesmt_int
